#modal-setting {
  display: none;
}

.setting-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.setting-background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.setting-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100% - 40px);
  margin: 20px auto;
  padding: 20px;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #333;
  border-radius: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.setting-title {
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.setting-item label {
  display: block;
  height: 20px;
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.slider-wrapper span {
  color: #777;
  font-size: 0.9em;
}
.slider-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.slider-wrapper output {
  font-weight: 800;
  color: #333;
  background-color: #f0f0f0;
  padding: 4px 10px;
  border-radius: 8px;
  min-width: 30px;
  text-align: center;
  font-feature-settings: "tnum";
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  background: #e0e0e0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #4CAF50;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, transform 0.2s;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, transform 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #5cdb60;
}
input[type="range"]::-moz-range-thumb:hover {
  background-color: #5cdb60;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}
input[type="range"]::-moz-range-thumb:active {
  transform: scale(1.2);
}

#setting-reset-button {
  position: relative;
  margin: 20px auto;
  padding: 15px 50px;
  background-color: #649dd2;
  color: #fff;
  font-size: 1rem;
  border: none;
  transition: transform .3s ease-in-out, color .3s ease-in-out;
}
#setting-reset-button:hover {
  transform: scale(1.1);
  color: #333;
}
#setting-reset-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.7); /* 内側の枠線 */
  pointer-events: none;
}
#setting-reset-button::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid rgba(255, 255, 255, 0.7); /* 外側の枠線 */
  pointer-events: none;
}

#setting-close-button {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 40px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: calc(10px + 10px + 1rem);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
#setting-close-button:hover {
  background-color: white;
  color: #333;
}